<p id="notice"><%= notice %></p>
<div class="container">
  <header class="row mb-5">
    <div class="col-12 text-center">
      <h1 class="border-0 float-left">Currently on Franz</h1>
      <%= link_to 'Create New Product', new_product_path, class: 'btn btn-lg btn-outline-primary float-right' %>
    </div>
  </header>
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-4 mb-5 d-flex flex-column h-100">
      <div class="row h-100 justify-content-between align-items-center">
        <div class="col-12 d-flex justify-content-center mb-2">
          <div style="height: 200px; width: 175px; position: relative; ">
            <div class="img-frame img-frame-small">
            </div>
            <div style="background-image: url('<%= cl_image_path product.photo %>')"></div>
          </div>
        </div>
        <div class="col-12 text-center">
          <h3><%= product.name %></h3>
        </div>
        <div class="col-12 text-center">
          <p><%= product.post[0..200] %>...</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <%= link_to 'Customer View', product, class: 'd-inline btn btn-primary mx-1' %>
          <%= link_to 'Edit', edit_product_path(product), class: 'd-inline btn btn-info mx-1' %>
          <%= link_to 'Destroy', product, class: 'd-inline btn btn-danger mx-1', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


