<!DOCTYPE html>
<html>
  <head>
    <title>Franz01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= current_admin ? 'pt-5' : 'no-scroll' %>">
    <%= render 'shared/navbar' if current_admin %>
    <%= yield %>
    <%= yield :after_js %>
  </body>
</html>
